In [1]:
import pandas as pd

In [2]:
ch = pd.read_csv('champs.csv')

In [3]:
ch.shape

(138, 2)

In [4]:
ch.head()

       name   id
0       Jax   24
1      Sona   37
2  Tristana   18
3     Varus  110
4     Fiora  114

In [6]:
ch.groupby(['id']).size()

id
1      1
2      1
3      1
4      1
5      1
      ..
429    1
432    1
497    1
498    1
516    1
Length: 138, dtype: int64

In [7]:
print("Original DataFrame:")

Original DataFrame:

In [8]:
ch_sorted = ch.sort_values(by='id')

In [11]:
print(ch_sorted)

             name   id
40          Annie    1
99           Olaf    2
33          Galio    3
100  Twisted Fate    4
52       Xin Zhao    5
..            ...  ...
108       Kalista  429
103          Bard  432
72          Rakan  497
89          Xayah  498
15           Ornn  516

[138 rows x 2 columns]

In [13]:
pd.set_option('display.max_rows', len(ch_sorted))

In [15]:
print(ch_sorted)

             name   id
40          Annie    1
99           Olaf    2
33          Galio    3
100  Twisted Fate    4
52       Xin Zhao    5
31          Urgot    6
7         LeBlanc    7
91       Vladimir    8
32   Fiddlesticks    9
22          Kayle   10
129     Master Yi   11
51        Alistar   12
130          Ryze   13
127          Sion   14
18          Sivir   15
88         Soraka   16
39          Teemo   17
2        Tristana   18
95        Warwick   19
101          Nunu   20
19   Miss Fortune   21
107          Ashe   22
82     Tryndamere   23
0             Jax   24
113       Morgana   25
92         Zilean   26
5          Singed   27
124       Evelynn   28
121        Twitch   29
90        Karthus   30
45        ChoGath   31
111         Amumu   32
61         Rammus   33
132        Anivia   34
23          Shaco   35
122       DrMundo   36
1            Sona   37
17       Kassadin   38
104        Irelia   39
83          Janna   40
36      Gangplank   41
77          Corki   42
9           Karma   43
70          Taric   44
75         Veigar   45
64        Trundle   48
69          Swain   50
63        Caitlyn   51
60     Blitzcrank   53
131      Malphite   54
93       Katarina   55
114      Nocturne   56
28         Maokai   57
24       Renekton   58
134     Jarvan IV   59
84          Elise   60
123       Orianna   61
106        Wukong   62
86          Brand   63
13        Lee Sin   64
85          Vayne   67
11         Rumble   68
119    Cassiopeia   69
73        Skarner   72
50   Heimerdinger   74
120         Nasus   75
56        Nidalee   76
12           Udyr   77
47          Poppy   78
137        Gragas   79
34       Pantheon   80
37         Ezreal   81
41    Mordekaiser   82
14         Yorick   83
109         Akali   84
43         Kennen   85
57          Garen   86
58          Leona   89
135      Malzahar   90
35          Talon   91
44          Riven   92
27         KogMaw   96
133          Shen   98
126           Lux   99
76         Xerath  101
94        Shyvana  102
79           Ahri  103
87         Graves  104
26           Fizz  105
54       Volibear  106
102        Rengar  107
3           Varus  110
78       Nautilus  111
118        Viktor  112
55        Sejuani  113
4           Fiora  114
96          Ziggs  115
112          Lulu  117
20         Draven  119
25        Hecarim  120
98         KhaZix  121
81         Darius  122
80          Jayce  126
29      Lissandra  127
115         Diana  131
66          Quinn  133
71         Syndra  134
116  Aurelion Sol  136
16           Kayn  141
117          Zyra  143
38           Gnar  150
136           Zac  154
21          Yasuo  157
62         VelKoz  161
48        Taliyah  163
128       Camille  164
74          Braum  201
10           Jhin  202
65        Kindred  203
30           Jinx  222
6      Tahm Kench  223
53         Lucian  236
59            Zed  238
97           Kled  240
67           Ekko  245
110            Vi  254
46         Aatrox  266
68           Nami  267
42           Azir  268
8          Thresh  412
49         Illaoi  420
125        RekSai  421
105         Ivern  427
108       Kalista  429
103          Bard  432
72          Rakan  497
89          Xayah  498
15           Ornn  516